.advantages {
  color: #283645;
  text-align: center;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.advantages__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin: 0 0 30px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 55px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.advantages__wrapper {
  display: block;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f2f2f2;
    padding: 20px 20px 0;
    position: relative;
    min-height: 400px;
    margin-top: 80px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    padding: 0;
    margin-top: 58px;
  }
}

.advantages__wrapper::before {
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(to top left, #f2f2f2 50%, #ffffff 52%);
  min-width: 320px;
  min-height: 32px;
  background-size: cover;
  content: "";
  display: block;

  @media (min-width: @tablet-width) {
    min-width: 660px;
    min-height: 53px;
    top: -53px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
    min-height: 100px;
    top: 0;
  }
}

.advantages__picture-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.advantages__image-tablet {
  display: block;
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 268px;
  height: 480px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
  }
}

.advantages__item {
  margin-bottom: 31px;
  padding: 0;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 72px 0 0;
  }
}

.advantages__item:first-child {
  padding-top: 82px;

  @media (min-width: @tablet-width) {
    padding-top: 2px;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.advantages__item:last-child {
  margin-bottom: 0;

  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.advantages__item:last-child .advantages__description {
  margin-bottom: 42px;

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.advantages__title {
  color: #000000;
  font-size: 18px;
  padding: 0;
  margin: 0 0 12px;

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;
    width: 240px;
    text-align: center;
    margin: 55px 0 24px;
  }
}

.advantages__description {
  font-weight: 400;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0 0 35px;
    width: 310px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    width: 248px;
  }
}

.advantages__description-transform {
  display: none;


  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.advantages__image-wrapper {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    min-height: 300px;
    order: -1;
    position: relative;
  }
}

.advantages__image-wrapper::after {
  display: none;

  @media (min-width: @desktop-width) {
    position: absolute;
    display: block;
    content: "";
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
    opacity: 0.3;
    filter: blur(4px);
    width: 300px;
    height: 17px;
    left: -35px;
    bottom: 0;
  }
}

.advantages__image {
  display: block;
  margin: 0 auto;
  width: 157px;
  height: 278px;

  @media (min-width: @desktop-width) {
    width: 186px;
    height: 300px;
  }
}

.advantages__image--mood,
.advantages__image--world {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.advantages__image--friends {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}
