.advantages {
  color: #283645;
  text-align: center;
  margin-bottom: 0;
}

.advantages__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.advantages__wrapper {
  display: block;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f2f2f2;
    position: relative;
    padding: 20px 20px 0;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    padding-left: 160px;
    padding-right: 160px;
    margin-bottom: 0;
  }
}

.advantages__image-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    top: -48px;
    right: 54%;
    bottom: 0;
    left: 0;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.advantages__corner {
  background: linear-gradient(to top left, #f2f2f2 50%, #ffffff 52%);
  min-width: 320px;
  min-height: 32px;
  background-size: cover;
  display: block;
  background-position: 50% 0;

  @media (min-width: @tablet-width) {
    min-width: 660px;
    min-height: 53px;
    margin-top: 28px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.advantages__list {


  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    margin-top: 37px;
    justify-content: space-between;
    margin-left: 0;
  }
}

.advantages__item:first-child {
  padding-top: 50px;

  @media (min-width: @tablet-width) {
    padding-top: 2px;
  }
}

.advantages__item {
  margin-bottom: 34px;
  padding: 0;


  @media (min-width: @tablet-width) {
    text-align: left;
  }


  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}

.advantages__title {
  color: #000000;
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 12px;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;
    width: 240px;
    text-align: center;
    margin-top: 50px;
  }
}

.advantages__description {
  margin: 0 20px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin: 0;
  }


  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    width: 252px;
    text-align: center;
  }
}

.advantages__item:last-child .advantages__description {
  margin-bottom: 42px;
}

.advantages__image-wrapper {
  order: -1;
  position: relative;
}

.advantages__image-shadow {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
    opacity: 0.3;
    filter: blur(4px);
    width: 300px;
    height: 17px;
    position: absolute;
    top: 280px;
    left: -30px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
}

.advantages__image {
  display: block;
  margin: 0 auto;
  width: 157px;
  height: 278px;


  @media (min-width: @tablet-width) {
    width: 268px;
    height: 480px;
  }

  @media (min-width: @desktop-width) {
    width: 186px;
    height: 300px;
    margin: 0;
  }
}

.advantages__image--mood,
.advantages__image--world {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}


.advantages__image--friends {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}

.advantages__description--text-wrap {
  @media (min-width: @tablet-width) {
    display: block;
  }
}
