.conclusion {
  text-align: left;
  margin-bottom: 100px;

  @media (min-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
    padding-bottom: 50px;
  }
}

.conclusion__image {
  margin: 0 72px 0 auto;
}

.conclusion__wrapper {
  margin-top: 41px;
}

.conclusion__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  margin: 0 0 10px;
  padding: 0;
  width: 168px;

  @media (min-width: @desktop-width) {
    line-height: 30px;
  }
}

.conclusion__description {
  width: 300px;
  margin: 0 0 10px;
}

.conclusion__description,
.conclusion__link {
  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.conclusion__link {
  color: #d22856;
}
