.contacts {
  text-align: center;
  font-style: normal;
}

.contacts__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin: 50px 49px 45px;
}

.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contacts__item {
  margin-bottom: 31px;
}

.contacts__name {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 13px;
}

.contacts__details {
  color: #d22856;
  text-decoration: none;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  margin: 0;
}
