.form-choice {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 940px;
  }
}

.form-choice__fieldset {
  border: none;
  padding: 0 20px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.form-choice__fieldset--username {
  margin-bottom: 43px;

  @media (min-width: @tablet-width) {
    order: 1;
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin: 13px 35px 0 0;
  }
}

.form-choice__fieldset--travel-achievements {
  background-color: #f2f2f2;
  margin-bottom: 31px;
  padding: 43px 0 47px;


  @media (min-width: @tablet-width) {
    background-color: transparent;
    line-height: 30px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    order: 4;
    margin-bottom: 59px;
    padding: 46px 0 49px;
  }

  @media (min-width: @desktop-width) {
    grid-column: span 2;
    padding: 48px 0 0;
  }
}

.form-choice__fieldset--contacts {
  margin-bottom: 43px;

  @media (min-width: @tablet-width) {
    order: 3;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin-bottom: 60px;
    padding: 36px 20px 27px;
  }

  @media (min-width: @desktop-width) {
    grid-column: span 2;
    margin-bottom: 57px;
    padding: 32px 0 14px;
  }
}

.form-choice__fieldset--application {
  background-color: #f2f2f2;
  margin-bottom: 37px;
  padding: 40px 0 46px;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    line-height: 30px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin-bottom: 59px;
    padding: 48px 0 54px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 60px 35px;
  }
}

.form-choice__fieldset--emotions {
  margin-bottom: 48px;
  padding: 0 20px 0 20px;

  @media (min-width: @tablet-width) {
    order: 5;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding: 36px 58px 51px;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    grid-column: span 2;
    padding-bottom: 44px;
  }
}

.form-choice__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.form-choice__list--travel-achievements {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    height: 170px;
    margin-left: 110px;
  }
}

.form-choice__list--travel-achievements .form-choice__control {
  margin-left: 0;
}

.form-choice__list--travel-achievements .form-choice__item {
  margin-bottom: 52px;

  @media (min-width: @tablet-width) {
    margin-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin: 0 50px 51px 0;
  }
}

.form-choice__list--travel-achievements .form-choice__item:nth-child(2) {
  @media (min-width: @desktop-width) {
    margin-right: 69px;
  }
}

.form-choice__list--application .form-choice__item {
  margin-bottom: 45px;
}

.form-choice__list--contacts {
  @media (min-width: @tablet-width) {
    margin: 0 60px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 116px;
    margin: 0 80px;
  }
}

.form-choice__list--contacts .form-choice__item {
  @media (min-width: @tablet-width) {
    margin-bottom: 28px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form-choice__item {
  margin-bottom: 17px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
  }
}

.form-choice__item:last-child {
  margin-bottom: 0;
}

.form-choice__label {
  color: #d22856;
  line-height: 30px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
  }
}

.form-choice__label--contacts {
  @media (min-width: @tablet-width) {
    flex-direction: column-reverse;
  }
}

.form-choice__label-name {
  margin: 0 0 5px 23px;

  @media (min-width: @tablet-width) {
    margin: 0 19px 0 0;
  }
}

.form-choice__label--contacts .form-choice__label-name {
  @media (min-width: @tablet-width) {
    margin-right: auto;
  }
}

.form-choice__label--contacts .form-choice__input {
  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }
}

.form-choice__input {
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  padding: 0 20px;
  min-height: 59px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.form-choice__input::-webkit-input-placeholder {
  color: #283645;
}

.form-choice__input::-moz-placeholder {
  color: #283645;
}

.form-choice__icon-phone,
.form-choice__icon-mail {
  display: none;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 2px;
    right: -20px;
    width: 59px;
    height: 59px;
    display: block;
    content: "";
  }
}

.form-choice__title {
  color: #d22856;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  width: 100%;
  padding: 38px 51px 0;

  @media (min-width: @tablet-width) {
    padding: 0 25px;
    background-color: transparent;
    width: auto;
    margin: 0 auto;
  }
}

.form-choice__title--emotions {
  padding: 0;
  margin: 0 auto 17px;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding: 0 40px;
  }
}

.form-choice__title--contacts {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.form-choice__review {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  display: block;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  width: 100%;
  resize: none;
  min-height: 201px;
  padding: 14px 19px;

  @media (min-width: @tablet-width) {
    min-height: 193px;
  }

  @media (min-width: @desktop-width) {
    padding: 12px 19px;
    min-height: 125px;
  }
}

.form-choice__review::-webkit-input-placeholder {
  color: #283645;
}

.form-choice__review::-moz-placeholder {
  color: #283645;
}

.form-choice__submit {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    order: 6;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    grid-column: span 2;
  }
}

.form-choice__submit-button {
  color: #ffffff;
  background-color: #2aab6d;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  padding: 14px 45px;
  cursor: pointer;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding: 14px 55px;
    margin: 0;
  }
}

.form-choice__note {
  font-size: 14px;
  line-height: 30px;
}

.form-choice__symbol {
  color: #d22856;
}

.form-choice__text {
  color: #283645;
  text-transform: uppercase;
}

.form-choice__text-middle {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}
