.intro {
  background-color: @dark-blue;
  color: #ffffff;
  background-image: url("../img/back-intro-header.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    min-height: 330px;
    max-height: 620px;
  }

  @media (min-width: @desktop-width) {
    min-height: 285px;
    max-height: 745px;
  }
}

.intro__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin: 0 auto;
  width: 280px;
  padding: 29px 0 34px;
  text-align: center;

  order: 1;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 200px;
    padding: 102px 0 39px 50px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    padding: 114px 0 51px 110px;
    font-size: 50px;
    line-height: 68px;
  }
}

.intro__image-wrapper {
  order: 2;

  @media (min-width: @tablet-width) {
    order: 3;
  }
}

.intro__image {
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 660px;
    height: 545px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    height: 645px;
  }
}


.intro__wrapper {
  background-color: #1d2631;
  padding: 28px 0 38px;
  color: #ffffff;
  text-align: center;
  order: 3;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    width: 300px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
  }
}

.intro__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__list-item:not(:last-child) {
  margin-right: 35px;
}

.intro__legend {
  font-weight: 300;
}
