.intro {
  background-color: #1d2631;
  padding: 28px 20px 38px;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    background-color: transparent;
  }
}

.intro__wrapper {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-right: 50%;
  }
}

.intro__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__list-item:not(:last-child) {
  margin-right: 35px;
}

.intro__legend {
  font-weight: 300;
  text-align: center;
}
