.intro {
  background-color: #1d2631;
  color: #ffffff;
  padding: 28px 20px 38px;
}

.intro__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__legend {
  font-weight: 300;
  text-align: center;
}
