.main-nav {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__list a {
  color: @white;
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px;


  @media (min-width: @tablet-width) {
    min-width: 660px;
    margin: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
  }
}

.main-nav__logo-mobile {
  display: none;

  @media (min-width: @mobile-width-only) and (max-width: @tablet-width) {
    display: inline-block;
  }
}

.main-nav__logo-tablet {
  display: none;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: inline-block;
  }
}

.main-nav__logo-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}

.main-nav__toggle {
  display: block;

  @media (min-width: @desktop-width) {
    display: none;
  }
}
