.page-footer {
  text-align: center;
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__link {
  cursor: pointer;
  fill: #d22856;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__link--active1 {
  pointer-events: none;
}

.page-footer__logo-second {
  fill: #283645;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #283645;
  }
}
