.page-footer {
  text-align: center;
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    padding-bottom: 10px;
    margin: 0 17px 0 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 130px 0 130px;
  }
}

.page-footer__link {
  display: block;
  margin-bottom: 32px;
  text-decoration: none;
}

.page-footer__link:hover .page-footer__link-icon--second {
  fill: #d22856;
}

.page-footer__link:active .page-footer__link-icon {
  opacity: 0.3;
}

.page-footer__link--active {
  pointer-events: none;
}

.page-footer__link-icon--first {
  fill: #d22856;
  margin-right: 8px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-footer__link-icon--second {
  fill: #283645;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-footer__link-icon--first-mod {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
    margin-right: 8px;
  }
}

.page-footer__link-icon--second-mod {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}

.page-footer__social {
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
}

.page-footer__copyright {
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding: 10px 0 0;
  }
}
