.page-footer {
  text-align: center;
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo-first {
  cursor: pointer;

  &:hover {
    fill: #d22856;
  }

  &:active {
    display: none;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
  }
}

.page-footer__logo-second {
  cursor: pointer;
  display: none;

  &:active {
    opacity: 0.3;
    display: block;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
  }
}
