.page-main__intro {
  background-color: @dark-blue;
  color: #ffffff;
  text-align: center;
  background-image: url("../img/back-intro-header.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.page-main__slogan {
  height: 395px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-right: 50%;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.page-main__headline {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.page-main__text {
  line-height: 30px;
  color: #283645;
  text-align: center;
  margin: 54px 20px 55px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}

.page-main__text--form {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}
