.photos__wrapper {
  margin: 0;
}

.photos__panorama-image,
.photos__item-image {
  width: 100%;
  display: block;
  margin: 0;

  @media (min-width: @tablet-width) {
    height: 100%;
  }
}

.photos__panorama-comments {
  background-color: #f2f2f2;
  margin: 0 auto 20px;
  padding-top: 20px;
  color: #283645;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.photos__panorama-author,
.photos__author {
  font-weight: 700;
  margin: 0 0 14px 17px;

  @media (min-width: @tablet-width) {
    margin: 0 0 14px 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 14px 27px;
  }
}

.photos__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 940px;
  }
}

.photos__item {
  background-color: #f2f2f2;
  width: 280px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    height: 100%;
    padding: 0;
    width: 300px;
  }
}

.photos__item:last-child {
  margin-bottom: 0;
}

.photos__item-image-wrapper {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }
}

.photos__item-comments {
  color: #283645;

  @media (min-width: @tablet-width) {
    display: grid;
  }
}

.photos__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photos__text {
  margin: 0 10px 25px 17px;

  @media (min-width: @tablet-width) {
    margin: 0 24px 27px 30px;
  }
}

.photos__like {
  display: flex;
  position: relative;
  margin-left: 17px;
}

.photos__like-button {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    position: absolute;
    right: 20px;
    left: auto;
  }
}

.photos__like-counter {
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
  margin: 0 25px 20px;

  @media (min-width: @tablet-width) {
    margin-left: 10px;
  }
}
