.reviews {
  text-align: center;
  color: #283645;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 35px;
  }
}

.reviews__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.reviews__scroll {
  display: none;

  @media (min-width: @desktop-width) {
    position: relative;
    display: block;
    height: 90px;
    width: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.reviews__scroll-prev,
.reviews__scroll-next {
  position: absolute;
  display: block;
  top: 36px;
  left: 14px;
  fill: #283645;
  opacity: 0.3;
}

.reviews__scroll:hover .reviews__scroll-prev,
.reviews__scroll:hover .reviews__scroll-next {
  opacity: 0.3;
}

.reviews__scroll:active .reviews__scroll-prev,
.reviews__scroll:active .reviews__scroll-next {
  opacity: 0.1;
}

.reviews__list {
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.reviews__item {
  display: none;
  margin: 0;
}

.reviews__item--current {
  display: block;
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    order: 2;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
    margin-bottom: 4px;
  }
}

.reviews__author-profession {
  font-style: normal;
  margin: 0;
  padding: 0;

  @media (min-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.reviews__icon {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    margin: 0 auto 49px;
  }
}

.reviews__text {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    margin-bottom: 34px;
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 688px;
    margin: 0 90px 35px;
  }
}
