.site-list {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    align-items: center;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    flex-grow: 1;
    margin-left: 153px;
    flex-wrap: wrap;
  }
}

.site-list__item {
  border-bottom: 1px solid #000000;

  @media (min-width: @desktop-width) {
    border: none;
    margin-right: 39px;
  }
}

.site-list__item:first-child {
  border-top: 1px solid #000000;

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.site-list__item:last-child {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.site-list__item-link {
  position: relative;
  display: block;
  padding: 15px 20px 16px;
  color: #ffffff;
  text-decoration: none;
  background-color: #283645;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: @desktop-width) {
    background-color: transparent;
    box-shadow: none;
  }
}

.site-list__item-link:hover {
  color: #d22856;
}

.site-list__item-link:active {
  color: #ffffff;
  opacity: 0.3;
}

.site-list__item--active {
  color: #ffffff;
  pointer-events: none;
  position: relative;

  &::after {
    @media (min-width: @desktop-width) {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      height: 2px;
      background: #ffffff;
      margin: 0 20px;
    }
  }
}
