.upload-photos__header {
  line-height: 30px;
  text-align: center;
  color: #283645;
  margin: 49px 0 52px;

  @media (min-width: @tablet-width) {
    margin: 73px 0 78px;
  }

  @media (min-width: @desktop-width) {
    margin: 17px 0 75px;
  }
}

.upload-photos__slogan {
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}

.upload-photos__form {
  background-color: #f2f2f2;
}

.upload-photos__fieldset {
  border: none;
}

.upload-photos__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.upload-photos__buttons {
  display: flex;
  flex-direction: column;
}

.upload-photos__edit-buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    flex-direction: column;
  }
}

.upload-photos__filter-button {
  position: relative;
  height: 44px;
  width: 48px;
  margin-right: 35px;
  border: none;
  background-color: transparent;
  fill: #283645;
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    fill: #d22856;
    opacity: 1;
  }
}

.upload-photos__filter-button:last-child {
  margin-right: 0;
}

.upload-photos__filter-button--current {
  fill: #d22856;
  opacity: 1;
}

.upload-photos__button-icon {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.upload-photos__edit-range {
  width: 240px;
  background-color: #f2f2f2;
  appearance: none;
}

.upload-photos__edit-range::-webkit-slider-runnable-track,
.upload-photos__edit-range::-moz-range-track {
  height: 2px;
  background-color: #283645;
}

.upload-photos__edit-range::-webkit-slider-thumb,
.upload-photos__edit-range::-moz-range-thumb {
  background-color: #ffffff;
  border: 2px solid #d22856;
  border-radius: 50%;
  cursor: pointer;
  width: 14px;
  height: 14px;
}

.upload-photos__edit-range--crop,
.upload-photos__edit-range--fill,
.upload-photos__edit-range--contrast {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.upload-photos__edit-range--general {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.upload-photos__post-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.upload-photos__button {
  color: #d22856;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  padding: 21px 0;
  border: 3px solid #d22856;
  box-sizing: border-box;
  border-radius: 30px;
  width: 280px;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    width: 260px;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
    margin: 0 44px 0 0;
  }
}

.upload-photos__button:last-child {
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
