.upload-photos__header {
  line-height: 30px;
  text-align: center;
  color: #283645;
  margin-bottom: 52px;
}

.upload-photos__slogan {
  margin: 0;
}

.upload-photos__form {
  background-color: #f2f2f2;
}

.upload-photos__fieldset {
  border: none;
}

.upload-photos__button {
  color: #d22856;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  padding: 21px 0;
}
