.photos__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.photos__item {
  background-color: #f2f2f2;
  margin: 0 20px 20px;
}

.photos__item--panorama .photos__image {
  margin-left: -20px;
}
